@font-face {
    font-family: Blackadder;
    src: url("Fonts/itcblkad.ttf");
}
body{
    background-color: black;
    color:deeppink;
    font-family: blackadder;
    font-size: 24pt;
    text-align: center;
}
table{
    border-style: double;
    border-color: goldenrod;
    margin-left: 450px;
}
th,
td {
    align-items: center;
    border-style: solid;
    border-color: goldenrod;
    padding: 10px;
}
canvas{
    border-style: double;
    border-color: goldenrod;
    background-color: aqua;
}