body{
    background-color: black;
    color:deeppink;
    font-family: blackadder;
    font-size: 24pt;
    text-align: center;

}

h1{
    color:aqua
}

div{
    font-size: larger;
}

.btn{
    margin-bottom: 50px;
    height: 50px;
    width: 275px;
    font-family: blackadder;
    font-size: 22pt;
    background-color: blueviolet;
    color: gold;
    border-style: inset;
    border-color: goldenrod;
}