@font-face {
    font-family: Blackadder;
    src: url("Fonts/itcblkad.ttf");
}
body{
    background-color: black;
    color:deeppink;
    font-family: blackadder;
    font-size: 24pt;
    text-align: center;
}
    header{
        margin-left: 170px;
    }
    nav{
        border-style: double;
        border-color: goldenrod;
        height: 1700px;
        width: 150px;
        float: left;
        padding: 5px;
        line-height: 30px;
        margin-right: 20px;  
    }
    div {
        margin-left: 525px;
        margin-right: 415px;
    }
    h1{
       color:aqua;
    }
    h2{
        color:indigo;
    }
    h3{
        color:aquamarine;
        text-decoration: underline;
        font-weight: bold;
        margin-right: 55px;
    }
    #memeImage{
        align-items: center;
    }
    #mfwmeme{
        align-items: center;
    }
    footer{
        color:goldenrod;
        border-top-style:ridge;
        border-top-color:aqua;
    }