@font-face {
    font-family: Blackadder;
    src: url("Fonts/itcblkad.ttf");
}
body{
    background-color: black;
    color:deeppink;
    font-family: blackadder;
    font-size: 24pt;
    text-align: center;
}
    header{
        margin-left: 170px;
    }
    nav{
        border-style: double;
        border-color: goldenrod;
        height: 3000px;
        width: 150px;
        float: left;
        padding: 5px;
        line-height: 30px;
        margin-right: 20px;  
    }
    div {
        margin-left: 525px;
        margin-right: 415px;
    }
    h4{
        color:rgb(121, 36, 182);
        text-decoration: underline;
    }
    h1{
       color:aqua;
    }
    h2{
        color:indigo;
    }
    h3{
        color:aquamarine;
        text-decoration: underline;
        font-weight: bold;
        margin-right: 55px;
        }

        #memeImage{
            align-items: center;
        }
        #mfwMeme{
            align-items: center;
        }
        #cunningPlan{
            position: absolute;
            left: 48%;
            top: 180%;
            width: 200px;
        }
        #strbtn{
            align-items: center;
            margin-right: 650px;
            cursor: grabbing;
            font-family: blackadder;
            font-size: 24px;
            font-weight: 800;
            text-align: center;
            background-color:indigo;
            color:goldenrod;
            border-radius: 10px;
            border: 4px inset gold;
            padding: 10px;
        }
        #stpbtn{
            align-items: center;
            margin-right: 650px;
            cursor: help;
            font-family: blackadder;
            font-size: 24px;
            font-weight: 800;
            text-align: center;
            background-color:indigo;
            color:goldenrod;
            border-radius: 10px;
            border: 4px inset gold;
            padding: 10px;
        }
    footer{
        color:goldenrod;
        border-top-style:ridge;
        border-top-color:aqua;
    }